.fancy-text{
    font-family: 'Lobster', cursive;
    font-size: 3vw;
    margin: 0;
    padding: 0;
}

nav a{
    color:black;
}

nav a:hover{
    text-decoration: none;
    background-color: aqua;
    color: black;
}
