<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home/Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <th:block th:insert="base :: Bootstrap"></th:block>
    <style>
        body {
            height: 100%;
            background-image: url("https://res.cloudinary.com/dgogsuupz/image/upload/v1564593581/background_xpahh7.jpg");
            background-position: center;
            /*background-repeat: repeat;*/
            background-size: cover;
            background-attachment: fixed;
        }
        @media (min-width: 500px) {
            .jumbotron {
                padding: 1rem 2rem;
            }
        }
    </style>
</head>
<body>
<nav th:replace="base :: navbar"></nav>




<div class="container">
    <br/><br/><br/><br/>

        <form autocomplete="off" action="#" th:action="@{/processNewFlight}" th:object="${flight}" method="post">

            <input type="hidden" th:value="${flight.id}" name="flightId"/>


            <div class="form-group">
                <label for="exampleFormControlInput1">Operating Airport</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Airport" th:field="*{operatingAirport}"/>
                <p th:if="${#fields.hasErrors('operatingAirport')}" th:errors="*{OperatingAirport}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput2">Operating Airline</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Airline" th:field="*{operatingAirline}"/>
                <p th:if="${#fields.hasErrors('OperatingAirline')}" th:errors="*{operatingAirline}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput3">Start Location</label>
                <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Location" th:field="*{startLocation}"/>
                <p th:if="${#fields.hasErrors('startLocation')}" th:errors="*{startLocation}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput4">End Location</label>
                <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="Location" th:field="*{endLocation}"/>
                <p th:if="${#fields.hasErrors('endLocation')}" th:errors="*{endLocation}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput5">Price</label>
                <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="300" th:field="*{price}"/>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput6">Start Date</label>
                <input type="text" class="form-control" id="exampleFormControlInput6" placeholder="xx/xx/xxxx" th:field="*{startDate}"/>
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput7">End Date</label>
                <input type="text" class="form-control" id="exampleFormControlInput7" placeholder="xx/xx/xxxx" th:field="*{endDate}"/>
                <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput8">Start Time</label>
                <input type="text" class="form-control" id="exampleFormControlInput8" placeholder="3:00" th:field="*{startTime}"/>
                <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput9">End Time</label>
                <input type="text" class="form-control" id="exampleFormControlInput9" placeholder="3:00" th:field="*{endTime}"/>
                <p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput10">Round Trip</label>
                <input type="text" class="form-control" id="exampleFormControlInput10" placeholder="true" th:field="*{roundTrip}"/>
                <p th:if="${#fields.hasErrors('roundTrip')}" th:errors="*{roundTrip}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput11">Layover</label>
                <input type="text" class="form-control" id="exampleFormControlInput11" placeholder="false" th:field="*{layover}"/>
                <p th:if="${#fields.hasErrors('layover')}" th:errors="*{layover}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput12">Flight Capacity</label>
                <input type="text" class="form-control" id="exampleFormControlInput12" placeholder="220" th:field="*{flightCapacity}"/>
                <p th:if="${#fields.hasErrors('flightCapacity')}" th:errors="*{flightCapacity}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput13">Reward Points</label>
                <input type="text" class="form-control" id="exampleFormControlInput13" placeholder="Reward Points" th:field="*{rewardPoints}"/>
                <p th:if="${#fields.hasErrors('rewardPoints')}" th:errors="*{rewardPoints}"></p>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput14">Discount</label>
                <input type="text" class="form-control" id="exampleFormControlInput14" placeholder="false" th:field="*{discount}"/>
                <p th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></p>
            </div>

            <input type="submit" value="Add Flight" sec:authorize="isAuthenticated()" class="btn btn-primary"/>
        </form>

</div>















<div th:replace="base :: footer"></div>

</body>
</html>