<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
<th:block th:insert="base :: Bootstrap"></th:block>
</head>
<body>
<div th:replace="base::navbar"></div>
<div class="container">


    <h2>Admin Page!</h2>

    <table class="table table-hover table-striped" style="width:100%">
    <th>User First Name</th>
    <th>User Last Name</th>
    <th>User Email</th>
    <th>User Username</th>
    <th>User Password</th>
    <th>User Roles</th>
    <th>Actions</th>
    <div th:each="user : ${users}">
        <tr >
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <ul style="list-style-type: none;">
                    <li th:each="role : ${user.getRoles()}">
                        <p th:text="${role.getRole()}"></p>
                    </li>
                </ul>
            </td>


            <td><a th:href="@{/update/{id}(id=${user.id})}">Update User</a></td>
            <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete User</a></td>

        </tr>
    </div>
</table>

</div>
<div th:replace="base :: footer"></div>
</body>
</html>