<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home/Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <head th:replace="base :: head"></head>
    <style>
        body {
            height: 100%;
            background-image: url("https://res.cloudinary.com/dgogsuupz/image/upload/v1564593581/background_xpahh7.jpg");
            background-position: center;
            /*background-repeat: repeat;*/
            background-size: cover;
            background-attachment: fixed;
        }

        @media (min-width: 500px) {
            .jumbotron {
                padding: 1rem 2rem;
            }
        }
    </style>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<table>
    <tr><th>Airlines</th>
        <th>Departure City</th>
        <th>Arrival City</th>
        <th>Departure Date</th>
        <th>Returning Date </th>
        <th>flight class </th>
        <th>flight capacity</th>
        <th>Discount</th>
        <th> </th>
    </tr>
<div th:each="flight: ${flights}">
        <tr>
            <td>${flight.operatingAirlines}</td>
            <td>[[${flight.startLocation}]]</td>
            <td>${flight.endLocation}</td>
            <td>${flight.startDate}</td>
            <td></td>
            <td><a href="showCompleteReservation?flightId=${flight.id}">Select</a></td>
            <a href="/home"> search again</a>
        </tr>
</div>
</table>
<div th:replace="base :: footer"></div>
</body>
</html>