<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <head th:replace="base :: head"></head>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <br/><br/><br/><br/>

    <div class="jumbotron" th:each="flight : ${flights}">
        <hr class="my-4">
        <h5> Flight details</h5> <br><br>

        <p class="text-left" th:inline="text"> <i>[[${flight.startTime}]]</i>
           - <i> [[${flight.endTime}]]</i></p>
        <p align="left">  [[${flight.operatingAirline}]]  </p>
        <p align="left" th:inline="text"> [[${flight.operatingAirport}]]</p>
        <!--<p> Operating Airline <br> <b> [[${flight.operatingAirline}]]</b>  </p>-->
        <p align="center" th:inline="text"> Departure Location <br> <b>[[${flight.startLocation}]] </b>  </p>
        <p th:inline="text"> Arrival Location <br> <b>[[${flight.endLocation}]]  </b>
        <p> Price $[[${flight.price}]] </p>
        <p th:inline="text"> Departing Date<b> [[${flight.startDate}]]</b>
            Returning Date <b>[[${flight.endDate}]]</b> </p>
        <!--<p th:inline="text"> Departing time <i>[[${flight.startTime}]]</i>-->
            <!--Returning time <i> [[${flight.endTime}]]</i></p>-->
        <p th:if="${flight.roundTrip == true }"> This flight is round trip. </p>
        <p th:if="${flight.layover == true}"> There is a Layover</p>
        <p th:inline="text"> Flight capacity <i>[[${flight.flightCapacity}]]</i></p>
        <p th:inline="text"> You have <i> [[${flight.rewardPoints}]]</i>
            reward points you can use towards your flight today. </p>
        <p th:if="${flight.discount}"> You have a discount </p>
        <br>
        <a class="btn btn-primary" href="/payment" role="button" > Select flight </a>

    </div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>