<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <th:block th:insert="base :: Bootstrap"></th:block>
</head>
<body>
<div th:replace="base::navbar"></div>

<div class="container">

    <h2>Flight Information</h2>
    <table class="table table-hover table-striped" style="width:100%">
<!--        th:field="*{flight_id}" type="hidden"-->
        <thead class="thead-light">
        <tr>

            <th>Departure Location</th>
            <th>Arrival Location</th>
            <th>Departure Date</th>
            <th>Return Date</th>
            <th>Class</th>
            <th>Quantity</th>
            <th>Round Trip</th>
            <th>Price</th>
            <th sec:authorize="isAuthenticated()">Actions</th>
        </tr>
        </thead>


<!--        enhanced for loop-->

        <tr>
            <td>
                <span th:text="${flight.startLocation}"></span>

            </td>

            <td>
                <span th:text="${flight.endLocation}"></span>

            </td>

            <td>
                <span th:text="${flight.startDate}"></span>

            </td>

            <td>
                <span th:text="${flight.endDate}"></span>

            </td>

            <td>
                <span th:text="${flight.seatClass}"></span>

            </td>

            <td>
                <span th:text="${flight.quantity}"></span>

            </td>

            <div th:if="${flight.roundTrip == true}">
            <td>Yes</td>
            </div>
            <div th:if="${flight.roundTrip == false}">
                <td>No</td>
            </div>


            <td>
            <span th:text="${flight.totalCost}"></span>

            </td>



            <td sec:authorize="isAuthenticated()">
                <div sec:authorize="hasAuthority('USER')">
<!--                    <span th:if="${user.id == flight.id}">-->
                        <a th:href="@{/updateFlight}">Update</a> -
                        <a th:href="@{/cancelFlight}">Cancel</a>
<!--                    </span>-->
                </div>
<!--                <div sec:authorize="hasAuthority('ADMIN')">-->
<!--                    <a th:href="@{/updateFlight/{id}(id=${flight.id})}">edit</a> - -->
<!--                    <a th:href="@{/cancelFlight/{id}(id=${flight.id})}">Delete</a>-->
<!--                </div>-->
            </td>

        </tr>

    </table>

    <br/>
    <br/>

    <h2 class="mb-2">How would you like to pay?</h2>



    <form autocomplete="off" action="#" th:action="@{/payment}" th:object="${card}" method="post">

        <input type="hidden" th:value="${flight.id}" name="flightId">

        <input th:field="*{id}" type="hidden"/>


        <input type="hidden" th:field="*{user}" th:value="${user}"/>


            <div class="form-group">
                <label for="cardNumber">Debit/Credit card Number <img src="https://res.cloudinary.com/duqszimh4/image/upload/c_thumb,w_200,g_face/v1564774511/credit-cards_fuhuaq.gif"> </label>
                <input type="text" class="form-control"
                       id="cardNumber" placeholder="1234"
                       th:field="*{cardNumber}">
                <strong>
                    <span class="error-message"
                          th:errors="*{cardNumber}"
                          th:if="${#fields.hasErrors('cardNumber')}">
                          Please enter a valid card number
                    </span>
                </strong>
            </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="cardFirstName">Cardholder First Name</label>
                <input type="text" class="form-control"
                       id="cardFirstName" placeholder="First Name" th:field="*{cardFirstName}">
                <strong>
                    <span class="error-message"
                          th:errors="*{cardFirstName}"
                          th:if="${#fields.hasErrors('cardFirstName')}">
                          Please enter the cardholder's name exactly as it appears on the card.
                    </span>
                </strong>
            </div>
            <div class="form-group col-sm-6">
                <label for="cardLastName">Carholder Last Name</label>
                <input type="text" class="form-control"
                       id="cardLastName" placeholder="Last Name" th:field="*{cardLastName}">
                <strong>
                    <span class="error-message"
                          th:errors="*{cardLastName}"
                          th:if="${#fields.hasErrors('cardLastName')}">
                          Please enter the cardholder's name exactly as it appears on the card.
                    </span>
                </strong>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="securityCode">Security Code</label>
                <input type="text" class="form-control" id="securityCode"
                       placeholder="999" th:field="*{securityCode}">
                <strong>
                    <span class="error-message"
                          th:errors="*{securityCode}"
                          th:if="${#fields.hasErrors('securityCode')}">
                          Please enter a valid card security code.
                    </span>
                </strong>
            </div>
            <div class="form-group col-sm-4">
                <label for="cardExpMonth">Expiration month</label>
                <input type="text" class="form-control"
                       id="cardExpMonth" placeholder="01" th:field="*{cardExpMonth}">
                <strong>
                    <span class="error-message"
                          th:errors="*{cardExpMonth}"
                          th:if="${#fields.hasErrors('cardExpMonth')}">
                          Please choose a valid month.
                    </span>
                </strong>
            </div>
            <div class="form-group col-sm-2">
                <label for="cardExpYear">Expiration year</label>
                <input type="text" class="form-control"
                       id="cardExpYear" placeholder="2019" th:field="*{cardExpYear}">
                <strong>
                    <span class="error-message"
                          th:errors="*{cardExpYear}"
                          th:if="${#fields.hasErrors('cardExpYear')}">
                          Please choose a valid year.
                    </span>
                </strong>
            </div>
        </div>

        <input type="submit" value="Complete Booking" class="btn btn-primary"/>

    </form>


</div>






<br/>

</div>
<div th:replace="base :: footer"></div>
</body>
</html>