<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <th>Airline name</th>
    <th>start location</th>
    <th> end location </th>
    <tr>
        <td> [[flight.startLocation</td>
        <td> [[flight.endLocation</td>
    </tr>

</table>
<a href="/home"> search again</a>
<div th:replace="base :: footer"></div>

</body>
</html>