<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head"></head>
<body>
<nav th:replace="base :: navbar"></nav>

    <h3>Secure Page</h3>
    <a href="/logout">Logout</a>

<div class="container-fluid">
<h4>First Name</h4>
<p th:text="${user.firstName}"></p>
    <br>
<h4>Last Name</h4>
<p th:text="${user.lastName}"></p>
    <br>
<h4>Email</h4>
<p th:text="${user.email}"></p>
    <br>
<h4>Username</h4>
<p th:text="${user.username}"></p>
    <br>
<h4>Password</h4>
<p th:text="${user.password}"></p>
    <br>
<h4>Roles</h4>
<div th:each="role : ${user.getRoles()}">
    <p th:text="${role.getRole()}"></p>
</div>
    <br>
<a class="text-center" th:href="@{/update/{id} (id=${user.id})}">Update Profile</a>
</div>
<div th:replace="base::footer"></div>
</body>
</html>